<!DOCTYPE html>
{% extends "accounts/base.html" %}

{% block inherit %}
<div style="text-align:center" class="footer-copyright py-3">
</div>
<div style="text-align:center" class="footer-copyright py-3">
</div>
<div style="text-align:center" class="footer-copyright py-3">
</div>
    <div class="container">
        <div class="jumbotron">
            <h1>eCom</h1>
            <p>An e-commerce website with functionality similar to Amazon</p>
        </div>
        <h2>Preliminaries</h2>
        <hr>
        <ul>
            <li>This is a Django application and uses sqlite3 as the database engine.</li>
            <li>Django version: 3.0.7</li>
            <li>Python version: 3.6.9</li>
        </ul>
        <hr>
        <h2>Project By:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Roll Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Varun</td>
                    <td>Raghavendra</td>
                    <td>181CO134</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Dhanwin</td>
                    <td>Rao</td>
                    <td>181CO217</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
