{% extends 'accounts/base.html' %}

{% block inherit %}
    <main class="mt-5 pt-4">
      <h2 class="my-5 h2 text-center">Previous Purchases</h2>
      <div class="row">
        <div class="col-md-4 mb-4">
        </div>
        <div class="col-md-4 mb-4">
          <ul class="list-group mb-3 z-depth-1">
            {% for purchase_product in purchase_products %}
              <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{purchase_product.product.name}}</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted"> {{purchase_product.product.price}}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </main>
{% endblock %}
