{% extends 'products/product_base.html' %}

{% block body_block %}
    <div class="jumbotron">
      <h2>Details:</h2>
      <p>Name:{{phone.name}}</p>
      <br>
      <p>Brand     : {{phone.name}}</p>
      <p>Price     : {{phone.price}}</p>
      <p>Color     : {{phone.color}}</p>
      <p>Display   : {{phone.display}}</p>
      <p>Storage   : {{phone.storage}}</p>
      <p>Processor : {{phone.processor}}</p>
      <p>RAM       : {{phone.ram}}</p>
      <p>Picture   : {{phone.picture}}</p>
    </div>
    <form method="get" action="{% url 'products:prodlist' %}" method="post">
      <input type="submit" value="Add to cart!" name="Add to cart!"/>
    </form>
{% endblock %}
