<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>eCom</h1>
            <p>An e-commerce website with functionality similar to Amazon</p>
        </div>

        <h2>Preliminaries</h2>

        <hr>

        <ul>
            <li>This is a Django application and uses sqlite3 as the database engine.</li>
            <li>Django version: 3.0.7</li>
        </ul>
        <hr>
        <hr>
        <h2>Project By:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Roll Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Varun</td>
                    <td>Raghavendra</td>
                    <td>181CO134</td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>Dhanwin</td>
                    <td>Rao</td>
                    <td>181CO217</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
