{% extends 'products/product_base.html' %}

{% block body_block %}
    <div class="jumbotron">
      <h2>Details:</h2>
      <p>Name:{{product_details.name}}</p>
      <br>
      <p>Brand     : {{product_details.name}}</p>
      <p>Price     : {{product_details.name}}</p>
      <p>Color     : {{product_details.name}}</p>
      <p>Display   : {{product_details.name}}</p>
      <p>Storage   : {{product_details.name}}</p>
      <p>Processor : {{product_details.name}}</p>
      <p>RAM       : {{product_details.name}}</p>
      <p>Picture   : {{product_details.name}}</p>
    </div>
{% endblock %}
